@{
    ViewData["Title"] = "Welcome to Net Bank";
}

    <center>
        <img src="~/images/WNBLogo.jpg" width="35%" height="35%" /> 
        <br /><br />

        <div class="row">
            <button class="btn btn-default"> @Html.ActionLink("Login", "Login", "Customers")</button>
            <button class="btn btn-default"> @Html.ActionLink("Register", "Create", "Customers") </button>
        </div>
        <br /><br /><br />
        <h4>Please Pardon Our Dust</h4>
        <img src="~/images/wuc.jpg" width="35%" height="35%" />
    </center>
